.container input{
  margin-left: 40%;
  margin-top: 2%;
  width: 20%;
  height: 20px;
  border: 2px solid black;
  border-radius: 5px;
}
.azerty{
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}
.todo{
  flex-basis: 50%;

}
.todo h3{
  text-align: center;
  align-items: center;
}
.done{
  flex-basis: 50%;
}
.done h3{
  text-align: center;
  align-items: center;
}